@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@400;500&display=swap');


* {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    /* xoa ki hieu o menu*/
}


header {
    height: 115px;
    background: #a3b6dd;
    display: flex;
    /* can giua*/
    align-items: center;
    justify-content: space-around;
}

header .logo {
    width: 30%;
}

header .logo img {
    height: 100px;
    width: 100px;
    border-radius: 40px;
}

.search-bar {
    display: flex;
    align-items: center;
    width: 35%;
    position: relative;
}

header .search-bar input {
    width: 300px;
    color: rgb(10, 10, 10);
    padding: 10px 20px 10px 40px;
    border: none;
    outline: none;
    border-radius: 50px;

}

header .search-bar i {
    background-color: white;
    position: absolute;
    left: 0;
    /* height: 30px;
    width: 30px;*/
    padding: 10px;
    border-radius: 50px;
    font-size: 16px;
    color: gray;
}

header .cart {
    width: 18%;
}

header .cart p {
    display: inline;
    /* cho cung 1 hang*/
    color: white;
    font-size: 20px;
    padding: 0 5px;
}

header .cart i {
    color: white;
    font-size: 20px;
}

#menu {
    height: 50px;
    background-color: #f0ede7;
    display: flex;
    align-items: center;
    justify-content: center;
}

ul {
    background-color: #f0ede7;
}

li {
    text-align: center;
    display: inline;
    color: #f0ede7;
}

li a {
    background-color: #f0ede7;
    text-align: center;
    height: 30px;
    margin: 10px;
    padding: 4px;
    color: #8B4726;
}

.menu ul li a:hover {
    color: rgb(221, 10, 10);
    /*màu khi nhâp chuột*/
    text-decoration: underline;
}


.gioithieu{
    padding: 10px;
    margin: 20px;
    text-align: left;
    margin-top: 5px;
    
}



.gioithieu h4 {
    padding: 20px;
    text-align: center;
    margin: auto;
   
    font-size: 30px;
    font-weight: 500;
    color: #000000;
   
}
.anh{
    border: #8B4726 solid;
    width: 100%;
    text-align: center;
    padding: 10px;
    padding: 20px;
}

.anh img{
    padding: 10px;
    margin: auto;
    width: 400px;
    height: 520px;
}


.gioithieu h5{
    padding-top: 30px;
    font-size: 20px;
    /* font-family: 'Gideon Roman', cursive; */

}

.gioithieu h5 p{
    background-origin: padding-box;
    padding: 20px;
    margin: auto;
    font-size: 18px;
    font-family: 'Gideon Roman', cursive;
}
a{
    color: red;
}

.cmt{
    border-radius: 15px;
    border: none;
    background-color: #c3d0ee;
    width: 85%;
    padding: 20px;
    margin-left: 70px;
    margin-bottom: 70px;
    margin-top: 70px;
}

.cmt h2{
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    margin: 20px;
    padding-bottom: 20px;
    color: #070707;
}

input[type = text]{
    width: 98%;
    padding:  12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: solid gray;
    border: none;
    border-radius: 25px;
}


input[type=submit]{
    width: 10%;
    height: 60px;
    background-color: #dd7819;
    padding: 15px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 30px;
    color: white;
   
}

input[type=submit]:hover{
    background-color: rgb(83, 41, 22);
}


.form-control{
    width: 98%;
    height: 100px;
    /* padding: 5px; */
    outline: none;
    border: solid gray;
    /* border-radius: 25px; */
    border: none;
    resize:none;
}

iframe{
   
    padding: 50px;
   
}

.form-gr{
    margin:  0;
}
.form-control{
    width: 98%;
    padding: 10px;
    
    outline: none;
    border: none;
    border: 3px solid gray;
    border-radius: 25px;

}

.form-gr label{
    font-weight:  bold;
    /* font-variant: small-caps; */
    

}


.container>footer {
    top: 1000px;
    padding: 3px;
    color: rgb(43, 90, 53)55, 255, 255;
    border-top: 5px double #CDAA7D;
    border-right: 5px double #CDAA7D;
    border-left: 5px double #CDAA7D;
    border-bottom: 5px double #CDAA7D;
    border-radius: 10px;
    line-height: 50px;
    background-color: rgb(183, 223, 233);
    text-align: center;
    clear: both;

}
.foot h3{
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px;

}
.foot{
    padding-bottom: 50px;
    text-align: center;
    font-size: 30px;
}
.container footer a {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding-bottom: 50px;
}

.container footer p {
    font-family: Arial, Helvetica, sans-serif;
}
.foot p,a{
    font-size: 20px;
}
